@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div id="home-img-container">
        <img id="home-img" src="~/brown-concrete-cathedral-1130683.jpg" alt="University Front Entrance" />
    </div>
</div>